/*<!--要記得放方框留白邊-->*/
.all {
    margin:0 auto;
}

.header {
    height:40px;
    text-align:center;
    position:sticky;
    top:0;
    background-color:purple;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    /*background-color:pink;*/
}

.header_logo {
    /*height:50px;*/
    text-align:left;
    width:100px;
    position:sticky;
    top:0;
    background-color:brown;
}

.aside{
    background: #000000f5;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    transform: translateX(1300px);
    transition: ease .8s;
}

.open .aside{
    transform: translateX(0);
}

.aside-mobile-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color:blue;
}

.aside-container{
    position:sticky;
    top:0;
    align-items: flex-end;
    margin:0 5px 5px 5px;
    padding: 10px 0 0 10px;
    background-color: gold;
}

.aside_logo{
    height:40px;
    padding: 10px 0 0 10px;
    text-align:right;
    align-items: flex-end;
    background-color: gray;
}

.asideText{
    padding: 15px 0 15px 0;
    text-align:center;
    word-break: break-word;
    background-color: brown;
}

.wrapper {
    float:left;
    width:100%;
    text-align:center;
}

.flex-container-row-mobileColumn {
    display: flex;
    flex-direction: column;
    /*margin-left: auto;
    margin-right: auto;
    max-width:35%;
    /*min-height:90%;*/
    font: 16px 'Open Sans', sans-serif;
    color: #222;
    background-color:pink;
}

.side-mobile-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font: 14px 'Open Sans', sans-serif;
    color: #222;
    background-color:yellow;
}

.side {
    padding: 0 10px 0 20px;
    margin:10px auto;
    text-align:center;
    /*word-break: break-word;*/
    background-color:yellowgreen;
}

.sideText {
    padding: 0 5px 0 px;
    word-break: break-all;
    background-color:#f32f3f;
}

.main {
    margin:0 auto;
    flex: 1;
    margin-left:10%;
    margin-right:10%;
    padding: 0 10px 150px 20px;
    text-align:left;
    background-color:lightblue;
}

.footer {
    height:30px;
    padding: 10px 0 0 0;
    margin:0 auto;
    text-align:center;
    font: 10px 'Open Sans', sans-serif;
    color: #8D8D8D;
    background-color:orange;
}

a {
    color: #222;
}

a:hover {
    color: #0000CD;
    
}

a:visited, a:link, a:active {
    text-decoration: none;
}
 
aText {
    color: #000080;
}

aText:hover {
    color: #0000CD;
    border-bottom:1px solid #0000CD;
}
/*
aText:visited, aText:link, aText:active {
    text-decoration: none;
}*/

a_asideText {
    color: #ffffff;
    font: 20px 'Open Sans', sans-serif;
}

a_asideText:hover {
    color: #0000CD;
    border-bottom:1px solid #0000CD;
}

ul li{
    list-style-type:none;
    margin:5px auto;
}

.img-circle {
    width:80%;
    margin:0 auto;
    /*border-radius: 50%;*/
}

.img-lable {
    margin:0 auto;
}

.ex1{
    width:16px;
}

.ex2{
    width:35px;
    margin:0 5px 0 0;
}

.at1{
    filter: invert(100%); ;
}

h1 {
    margin: 20px;
    font-family: Verdana, Arial, Georgia, "Times New Roman", Times, Baskerville, serif;
    text-align:center;

}

h2, h3, h4, h5, h6, .title {
    margin: 0;
    font-family: 'PT Serif', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

@media (max-width: 576px) {
    .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
        display:none !important
    }
}

@media (min-width: 768px) {
    .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
        display:none !important
    }
}

@media (min-width: 576px) and(max-width: 767px) {
    .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
        display:none !important
    }
}

@media (min-width: 992px) {
    .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
        display:none !important
    }
}

@media (max-width: 992px) {
    .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation {
        display:none !important
    }
}


