/*<!--要記得放方框留白邊-->*/
.all {
    margin:0 auto;
}

.header {
    height:50px;
    text-align:center;
    position:sticky;
    top:0;
}

.header-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #222;
}

.header_logo {
    /*height:50px;*/
    text-align:left;
    width:50px;
    position:sticky;
    top:0;
}

.aside{
    background: #A0A0A0a3;
    width: 40%;
    position: fixed;
    top: 0;
    bottom: 0;
    right:0;
    font: 18px 'Open Sans', sans-serif;
    transform: translateX(1300px);
    transition: ease .8s;
}

.open .aside{
    transform: translateX(0);
}

.aside-mobile-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

.aside-container{
    margin:0 5px 5px 5px;
    padding: 10px 0 0 10px;
    text-align:left;
    word-break: break-word;
}

.aside_logo{
    height:40px;
    padding: 10px 0 0 10px;
    text-align:right;
    word-break: break-word;
}

.asideText{
    padding: 10px 0 10px 10px;
    margin-left:60%;
    text-align:left;
    word-break: break-word;
}

.header_menu {
    height:50px;
    text-align:center;
    width: 65%;
    position:sticky;
    top:0;
}

.headerText{
    padding: 10px 0 10px 10px;
    text-align:center;
    word-break: break-word;
}

.wrapper {
    float:left;
    width:100%;
    text-align:center;
}

.flex-container-row-mobileColumn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:65%;
    min-height:90%;
    font: 18px 'Open Sans', sans-serif;
    color: #222;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width:35%;
    font: 16px 'Open Sans', sans-serif;
    color: #222;
}

.sidebar {
    /*width:300px;*/
    width:40%;
    max-width:30%;
    margin:30px 0 auto;
    position: fixed;
    text-align:left;
    padding: 10px 10px 50px 20px;
}

.side {
    /*width:30%;
    max-width:30%;*/
    padding: 0 10px 0 20px;
    margin:10px auto;
    text-align:left;
    word-break: break-word;
}

.sideName {
    /*width:30%;
    max-width:30%;*/
    padding: 0 70px 0  70px;
    margin:10px auto;
    text-align:center;
    word-break: break-word;
}

.sideName2 {
    /*width:30%;
    max-width:30%;*/
    padding: 0 60px 0  90px;
    /*margin:10px auto;*/
    text-align:left;
    word-break: break-word;
}

.side-mobile-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.sideText {
    padding: 0 0 0 10px;
    text-align:left;
    word-break: break-word;
}
/*
.sideTextmobile {
    margin-left:13%;
    margin-right:5%;
    padding: 0 0 0 10px;
    text-align:left;
    word-break: break-word;
    /*background-color:yellowgreen;
}*/

.main {
    margin:0 auto;
    flex: 1;
    margin-left: auto;
    padding: 40px 10px 0px 20px;
    text-align:left;
}

.footer {
    height:30px;
    padding: 10px 0 0 0;
    margin:0 auto;
    text-align:center;
    font: 12px 'Open Sans', sans-serif;
    color: #8D8D8D;
}

a {
    color: #222;
}

a:hover {
    color: #0000CD;
    
}

a:visited, a:link, a:active {
    text-decoration: none;
}

aText {
    color: #000080;
}

aText:hover {
    color: #0000CD;
    border-bottom:1px solid #0000CD;
}

aText:visited, a:link, a:active {
    text-decoration: none;
}

a_asideText {
    color: black;
    font: 20px 'Open Sans', sans-serif;
}

ul li{
    list-style-type:none;
    margin:5px auto;
}

.img-circle {
    width:100%;
    margin:0 auto;
    border-radius: 50%;
}

.img-lable {
    margin:0 auto;
}

.ex1{
    width:16px;
}

.ex2{
    width:35px;
    margin:0 5px 0 0;
}

h1 {
    margin: 0;
    font-family: Arial, Georgia, "Times New Roman", Times, Baskerville, serif;
    /*text-align:center;*/

}

h2 {
    margin: 0;
    font-family: Arial, Georgia, "Times New Roman", Times, Baskerville, serif;
    /*text-align:center;*/

}

h4 {
    margin: 0;
    font-family: Arial, Georgia, "Times New Roman", Times, Baskerville, serif;
    text-align:center;

}

h3, h5, h6, .title {
    margin: 0;
    font-family: 'PT Serif', TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}


